<h2>Statistiques des Gastronomies</h2>

<!-- Conteneur pour organiser les graphiques -->
<div class="charts-container">
  <!-- Graphique : Nombre de gastronomies par type -->
  <div class="chart-item medium-chart">
    <h3>Nombre de gastronomies par type</h3>
    <canvas id="typeChart" width="100" height="50"></canvas>
  </div>

 <!-- Graphique : Note moyenne par type et région -->
 <div class="chart-item medium-chart">
    <h3>Note moyenne par type et région</h3>
    <canvas id="combinedChart" width="100" height="50"></canvas>
  </div>

  <!-- Graphique : Note moyenne par type -->
  <div class="chart-item medium-chart">
    <h3>Note moyenne par type</h3>
    <canvas id="ratingChart" width="100" height="50"></canvas>
  </div>

 <!-- Graphique : Nombre de gastronomies par région -->
 <div class="chart-item medium-chart">
    <h3>Nombre de gastronomies par région</h3>
    <canvas id="locationChart" width="100" height="50"></canvas>
  </div>
</div>
